
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  .inputGroup {
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* .button:hover {
    background-color: #005bb5;
  } */
  
  /* .error {
    color: red;
    margin-top: 10px;
  } */
  
  .success {
    color: green;
    margin-top: 10px;
  }
  