/* Container for the entire header */
.hdrContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  flex-wrap: wrap;
  box-shadow: 0px 0px 5px 0px #333;
}

/* Logo */
.hdrLogoImg {
  height: 100px;
  width: auto;
  margin: -30px 0px -30px 0px;
}

/* Navbar */
.hdrNavbar {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hdrNavLink {
  text-decoration: none;
  color: #3d3d3d;
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
}
.hdrNavLinkLogout{
  text-decoration: none;
  color: #3d3d3d;
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  background-color: white;
}
.hdrNavLinkLogout:hover {
  color: #b4b4b4;
}

.hdrNavLink:hover {
  color: #b4b4b4;
}

/* Contact */
.hdrContact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.2rem;
  font-size: 1.5rem;
}

.hdrPhoneText {
  color: #3d3d3d;
  display: flex;
  /* Show text on large screens */
  flex-direction: column;
  align-items: center;
  font-size: small;
}

/* Hamburger and phone icons container */
.hdrIcons {
  display: flex;
  align-items: center;
}

/* Hamburger icon */
.hdrIcon {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 15px;
  display: none;
  /* Hide by default, show on mobile */
}

/* Phone icon */
.hdrPhoneIcon {
  font-size: 1.3em;
  color: #333;
}

/* Responsive styles */
@media (max-width: 860px) {
  .hdrNavbar {
    display: none;
    box-shadow: 5px 0px 5px 5pxx #333;
  }

  .hdrNavbarMobile {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 30vw;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 0.8em;
    box-shadow: 0px 0px 1px 1px #333;
    border: none;
    z-index: 1040;
    text-transform: none !important;
  }

  .hdrIcon {
    display: block;
    /* Show hamburger icon on mobile */
  }

  .hdrPhoneIcon {
    height: 1.5rem;
    display: block;
    /* Show hamburger icon on mobile */
  }

  .hdrPhoneText {
    display: none;
    /* Hide phone text on mobile */
  }
}