/* Wrap all input and textarea styles inside a class */ 
 .formGroup input,
.formGroup textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
} 

.formGroup textarea {
  resize: vertical;
}

.Container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.Form {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

/* label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
} */

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} 

  .submitButton:hover {
  background-color: #005bb5;
} 
